.textSibar:hover{
    color: #ffff !important;
}

button:hover{
    background-color: #082b72 !important;
}

/* Table Styles */
.custom-table .ant-table-thead > tr > th {
  background-color: #f9fafb;
  color: #6b7280;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  border-bottom: 1px solid #e5e7eb;
}

.custom-table .ant-table-tbody > tr > td {
  border-bottom: 1px solid #f3f4f6;
  padding: 12px 16px !important; /* Tăng padding để dòng thoáng hơn */
}

/* Row đang được chọn (Editing) */
.custom-table .ant-table-row-selected > td {
  background-color: #e6f7ff !important;
}

/* Hover Row */
.custom-table .ant-table-tbody > tr:hover > td {
  background-color: #f9fafb;
}