version: "3.9"

services:
  backend:
    build: ./backend
    container_name: ecus5-backend-local
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"
    command: sh -c "npx prisma db push && npm run dev"
