name: Deploy ECUS5 - DEV

on:
  push:
    branches: [dev]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: [self-hosted, dev]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Runner info
        run: |
          hostname
          pwd
          docker --version
          docker compose version

      - name: Deploy DEV containers
        run: |
          docker compose -f docker-compose.dev.yml down
          docker compose -f docker-compose.dev.yml up -d --build

      - name: Docker status
        run: |
          docker ps
